$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.row{
  margin-left: 0px;
}

/* Space out content a bit */
html{
  height:100%;
}
body {
  background:url('../images/womenofcodehome.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#home-cta {
  margin: 0 auto;
  margin-top: 200px;
  vertical-align: middle;
  width: 400px;
  #logo-cta{
      margin: 0 auto;
      display: table;
      height: 175px;
  }
  #logo-text-cta {
    width: 100%;
    margin: 0 auto;
    display: table;
  }
  #cta-text{
    color:white;
    text-align:center;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.logo{
  color:white;
  font-size:3.5em;
  text-align:center;
  margin-left: 5px;
  padding-top:25px;
  padding-bottom:25px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

    /* The console container element */
    #console {
      width: 100%;
      height: 500px;
      div{
        position: static !important;
        div{
          textarea{
            width: 0px;
            top:0px;
            z-index:-10;
          }
        }
      }
    }
    /* The inner console element. */
    .jqconsole {
      padding: 10px;
      width: 100%;
      height: 500px;
      background-color:#202020;
      color: #a1e5d9;
    }
    /* The cursor. */
    .jqconsole-cursor {
        background-color: gray;
    }
    /* The cursor color when the console looses focus. */
    .jqconsole-blurred .jqconsole-cursor {
        background-color: #666;
    }
    /* The current prompt text color */
    .jqconsole-prompt {
        color: #ed9688;
    }
    /* The command history */
    .jqconsole-old-prompt {
        color: #ed9688;
        font-weight: normal;
    }
    /* The text color when in input mode. */
    .jqconsole-input {
        color: #ed9688;
    }
    /* Previously entered input. */
    .jqconsole-old-input {
        color: #bb0;
        font-weight: normal;
    }
    /* The text color of the output. */
    .jqconsole-output {
        color: #a1e5d9;
    }
pre{
  border-width:0px;
}
    