$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*Buttons*/
.btn-uber{
  border-radius: 0px;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.btn-uber-big{
  border-radius: 0px;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.btn-uber:hover{
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.btn-uber-white{
  border:solid 2px #fff;
  background: transparent;
  color: #fff;
}
.btn-uber-white:hover{
  border:solid 2px #fff;
  background: #fff;
  color: #000;
}

.btn-uber-dark{
  border:solid 2px #000;
  background: transparent;
  color: #000;
}
.btn-uber-dark:hover{
  border:solid 2px #000;
  background: #000;
  color: #fff;
}

.btn-uber-color{
  border:solid 2px;
  background: transparent;
}
.btn-uber-color:hover{
  border:solid 2px;
  color: #fff;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.row{
  margin-left: 0px;
}

/* Space out content a bit */
    
.main-logo{
  height:50px;
  width:auto;
  margin-top: 10px;
  margin-left:  15px;
}

.home-logo{
  height:150px;
  width:auto;
}

.intro01-bg{
  background-image: url('../images/womenofcodehome.jpg');
}

.menu-bg {
background: #a1e5d9 !important;
}

.main-nav-menu li a.current-main-nav {
color: rgb(244,154,193) !important;
}

.sub-nav-holder{
  border-right-style: solid;
border-right-color: pink;
}

.about-bg{
  background-image: url('../images/womenofcodehome.jpg');
}

body{
  font-family: 'Lekton', sans-serif !important;
  height: 100%;
}

#cover_wrapper {
  position: relative;
  height: 100%;
  width:100%;
}

.intro01-bg {
  z-index: 1;
  background: url('../images/women.jpg') no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.about-bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.backgroundshadowing {
  background: rgba(244,154,193, .7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.background-team {
 /* background: rgba(244,154,193, .7);*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page-title{
  z-index: 3;
}

.home-page-section{
  z-index:3;
   width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  left: 0px;
}

.team-bg {
  background:rgba(244,154,193, .7) !important;
}

.team-cards{
  z-index:10;
}

.page-section{
  height:100%;
}


html{
  height:100%;
}

.page{
  height:100%;
}

#mastwrap {
  height:100%;
}