
  <div class="container">
      <div class="row">
          <article class="col-md-12 text-center">
            <div class="inner-spacer color-bg"></div>
              <ul class="social-nav font4 black">
                <li><a href="#">twitter</a></li>
                <li><a href="#">facebook</a></li>
                <li><a href="#">dribbble</a></li>
                <li><a href="#">behance</a></li>
              </ul>
          </article>
      </div>
      <div class="row">
          <article class="col-md-12 text-center">
              <p class="copyright font1 grey">Copyright &copy; 2015.</p>
          </article>
      </div>
  </div>