
  <div class="container">
      <div class="row">
          <article class="col-md-12 text-center">
            <div class="inner-spacer color-bg"></div>
              <ul class="social-nav font4 black">
                <li><a href="https://twitter.com/WomenOfCode" target="_blank">twitter</a></li>
                <li><a href="https://www.facebook.com/WomenOfCode" target="_blank">facebook</a></li>
                <li><a href="http://www.meetup.com/Women-of-Code-Chicago/" target="_blank">meetup</a></li>
              </ul>
          </article>
      </div>
      <div class="row">
          <article class="col-md-12 text-center">
              <p class="copyright font1 grey">Copyright &copy; 2015.</p>
          </article>
      </div>
  </div>