
<!-- main navigation trigger -->
<div ng-controller="HeaderCtrl" ng-init="init()" class="main-nav visible-lg">
	<div class="mobile-toggle white">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
</div>

<header class="masthead visible-lg">
	<a href="/"><img class="main-logo" alt="" title="" src="/images/logo.png"/></a>

</header>





<!-- main menu : starts (please refer to PDF user-guide for setting up the menu)-->
<section class="menu-panel fullheight">

<div class="row">
  

  <!-- main menu container-->
  <article class="col-md-8 fullheight nav-list-holder  menu-bg">
    <div class="valign">
      <nav class="nav-item-wrap">
          <ul class="main-nav-menu main-nav-menu-effect font4light">
             <li class="trigger-sub-nav">
                  <a data-sub-nav-target="01" class="main-nav-link white" href="#">About</a>
              </li>
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="02" class="main-nav-link white" href="#">Work</a>
              </li>
           
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="03" class="main-nav-link white" href="#">Education</a>
              </li>
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="04" class="main-nav-link white" href="#">Community</a>
              </li> 
            </ul>
        </nav>

    </div>
  </article>


  <!-- sub menu container -->
  <article class="col-md-4 fullheight sub-nav-holder white-bg">
    <div class="valign">
                   <div class="sub-nav sub-nav-01">
                    <a ui-sref="about.team">Team</a>
                    <a ui-sref="about.mission">Mission</a>
                    <a ui-sref="about.contact">Contact</a>
                  </div>
                  <div class="sub-nav sub-nav-02">
                    <a ui-sref="work.services">Services</a>
                    <a ui-sref="work.portfolio">Portfolio</a>
                    <a ui-sref="work.process">Process</a>
                  </div>

                  <div class="sub-nav sub-nav-03">
                    <a ui-sref="education.leap">Leap Program</a>
                    <a ui-sref="education.classes">Classes</a>
                    <a ui-sref="education.openCarriculum">Open Curriculum</a>
                  </div>

                  <div class="sub-nav sub-nav-04">
                    <a ui-sref="community.events">Events</a>
                    <a ui-sref="community.membership">Membership</a>
                  </div>

    </div>

  </article>


</div>


</section>
<!-- main menu : ends -->



<!-- mobile only navigation : starts -->
<nav class="mobile-nav hidden-lg">
            <ul class="slimmenu">
              <li>
                  <a class="sub-collapser" href="">about</a>
                  <ul>
                    <li><a class="black ease" href="/about/team">Team</a></li>
                    <li><a class="black ease" href="/about/mission">Mission</a></li>
                    <li><a class="black ease" href="/about/contact">Contact</a></li>
                  </ul>
              </li>  
              <li>
                  <a class="sub-collapser" href="">work</a>
                  <ul>
                    <li><a class="black ease" href="/work/services">Services</a></li>
                    <li><a class="black ease" href="/work/portfolio">Portfolio</a></li>
                    <li><a class="black ease" href="/work/process">Process</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">membership</a>
                  <ul>
                    <li><a class="black ease" href="/education/leap">Leap Program</a></li>
                    <li><a class="black ease" href="/education/classes">Classes</a></li>
                    <li><a class="black ease" href="/education/openCarriculum">Open Curriculum</a></li>
                  </ul>
              </li> 
               <li>
                  <a class="sub-collapser" href="">community</a>
                  <ul>
                    <li><a class="black ease" href="/community/events">Events</a></li>
                    <li> <a class="black ease" href="/community/membership">Membership</a></li>
                  </ul>
              </li> 
            </ul>
</nav>
<!-- mobile only navigation : ends -->