
<!-- main navigation trigger -->
<div ng-controller="HeaderCtrl" ng-init="init()" class="main-nav visible-lg">
	<div class="mobile-toggle white">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
</div>

<header class="masthead visible-lg">
	<a href="/"><img class="main-logo" alt="" title="" src="images/logo.png"/></a>


</header>





<!-- main menu : starts (please refer to PDF user-guide for setting up the menu)-->
<section class="menu-panel fullheight">

<div class="row">
  

  <!-- main menu container-->
  <article class="col-md-8 fullheight nav-list-holder  menu-bg">
    <div class="valign">
      <nav class="nav-item-wrap">
          <ul class="main-nav-menu main-nav-menu-effect font4light">

              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="01" class="main-nav-link white" href="#">about</a>
              </li>
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="02" class="main-nav-link white" href="#">development</a>
              </li>
           
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="03" class="main-nav-link white" href="#">education</a>
              </li>
              <li class="trigger-sub-nav">
                  <a data-sub-nav-target="04" class="main-nav-link white" href="#">works</a>
              </li> 
            </ul>
        </nav>

    </div>
  </article>


  <!-- sub menu container -->
  <article class="col-md-4 fullheight sub-nav-holder white-bg">
    <div class="valign">

                  <div class="sub-nav sub-nav-01">
                    <a href="showcase01.html">curtains</a>
                    <a href="showcase02.html">split scroll</a>
                    <a href="showcase03.html">parallax</a>
                    <a href="showcase08.html">bordered</a>
                    <a href="showcase05.html">carousel</a>
                    <a href="showcase04.html">zoom</a>
                    <a href="showcase07.html">fullscreen</a>
                    <a href="showcase06.html">video</a>
                  </div> 

                  <div class="sub-nav sub-nav-02">
                    <a href="index03.html">freelancer</a>
                    <a href="index11.html">fashion</a>
                    <a href="index08.html">agency</a>
                    <a href="index02.html">photographer</a>
                    <a href="index12.html">product view</a>
                    <a href="index07.html">caption slider</a>
                    <a href="index05.html">revolution</a>
                    <a href="index04.html">parallax</a>
                    <a href="index06.html">ken burns</a>
                    <a href="index01.html">minimal</a>
                    <a href="index09.html">vimeo</a>
                    <a href="index10.html">youtube</a>
                  </div>

                  <div class="sub-nav sub-nav-03">
                    <a href="portfolio01.html">parallax</a>
                    <a href="portfolio03.html">masonry</a>
                    <a href="portfolio02.html">random</a>
                    <a href="portfolio07.html">reel</a>
                    <a href="portfolio04.html">stack</a>
                    <a href="portfolio08.html">wall</a>
                    <a href="portfolio05.html">equal grid</a>
                    <a href="portfolio06.html">tiles</a>
                    <a href="single-project.html">project page</a>
                  </div>

                  <div class="sub-nav sub-nav-04">
                    <a href="about.html">about</a>
                    <a href="pricing.html">pricing</a>
                    <a href="single-project.html">project</a>
                    <a href="news.html">news listing</a>
                    <a href="news-post.html">news post</a>
                    <a href="contact.html">contact</a>
                    <a href="credits.html">credits</a>
                    <a href="boxed.html">boxed layout</a>
                    <a href="elements.html">elements</a>
                  </div>

    </div>

  </article>


</div>


</section>
<!-- main menu : ends -->



<!-- mobile only navigation : starts -->
<nav class="mobile-nav hidden-lg">
            <ul class="slimmenu">
              <li>
                  <a class="sub-collapser" href="">promo</a>
                  <ul>
                    <li><a class="black ease" href="showcase01.html">curtains</a></li>
                    <li><a class="black ease" href="showcase02.html">split scroll</a></li>
                    <li><a class="black ease" href="showcase03.html">parallax</a></li>
                    <li><a class="black ease" href="showcase08.html">bordered</a></li>
                    <li><a class="black ease" href="showcase05.html">carousel</a></li>
                    <li><a class="black ease" href="showcase04.html">zoom</a></li>
                    <li><a class="black ease" href="showcase07.html">fullscreen</a></li>
                    <li><a class="black ease" href="showcase06.html">video</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">intro</a>
                  <ul>
                    <li><a class="black ease" href="index03.html">freelancer</a></li>
                    <li><a class="black ease" href="index11.html">fashion</a></li>
                    <li><a class="black ease" href="index08.html">agency</a></li>
                    <li><a class="black ease" href="index02.html">photographer</a></li>
                    <li><a class="black ease" href="index12.html">product view</a></li>
                    <li><a class="black ease" href="index07.html">caption slider</a></li>
                    <li><a class="black ease" href="index05.html">revolution</a></li>
                    <li><a class="black ease" href="index04.html">parallax</a></li>
                    <li><a class="black ease" href="index06.html">ken burns</a></li>
                    <li><a class="black ease" href="index01.html">minimal</a></li>
                    <li><a class="black ease" href="index09.html">vimeo</a></li>
                    <li><a class="black ease" href="index10.html">youtube</a></li>
                  </ul>
              </li>  
              <li>
                  <a class="sub-collapser" href="">works</a>
                  <ul>
                    <li><a class="black ease" href="portfolio01.html">parallax</a></li>
                    <li><a class="black ease" href="portfolio03.html">masonry</a></li>
                    <li><a class="black ease" href="portfolio02.html">random</a></li>
                    <li><a class="black ease" href="portfolio07.html">reel</a></li>
                    <li><a class="black ease" href="portfolio04.html">stack</a></li>
                    <li><a class="black ease" href="portfolio08.html">wall</a></li>
                    <li><a class="black ease" href="portfolio05.html">equal grid</a></li>
                    <li><a class="black ease" href="portfolio06.html">tiles</a></li>
                    <li><a class="black ease" href="single-project.html">project page</a></li>
                  </ul>
              </li> 
              <li>
                  <a class="sub-collapser" href="">pages</a>
                  <ul>
                  <li><a class="black ease" href="about.html">about</a></li>
                  <li><a class="black ease" href="pricing.html">pricing</a></li>
                  <li><a class="black ease" href="single-project.html">project</a></li>
                  <li><a class="black ease" href="news.html">news listing</a></li>
                  <li><a class="black ease" href="news-post.html">news post</a></li>
                  <li><a class="black ease" href="contact.html">contact</a></li>
                  <li><a class="black ease" href="credits.html">credits</a></li>
                  <li><a class="black ease" href="boxed.html">boxed layout</a></li>
                  <li><a class="black ease" href="elements.html">elements</a></li>
                  </ul>
              </li> 
            </ul>
</nav>
<!-- mobile only navigation : ends -->