

/* KENBURNS STYLES 
-------------------------------------------------------*/

.slide-title{
  font-size: 72px;
  line-height: 79px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 8px;
  border:solid 8px;
  padding: 5px 10px 5px 18px;
  opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}