
.stack-grid{
  margin-top: 120px;
  margin-bottom: 120px;
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}


.stack-grid .works-item {
  width:  48%;
  float: left;
  background: #C09;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.stack-grid .works-item.w2 { width:  48%; background: #9C0;}
.stack-grid .works-item.w4 { width:  48%; background: #90C;}
