<div ng-init="portfolio()" section class="page-section white-bg parallax">
<div class="background-mission">
      </div>
  <div class="container">

    <div class="row">

    <article class="text-center col-md-10 col-md-offset-1">
                <a href="index.html"><img alt="" title="" class="home-logo" src="/images/woclogo-pink.png"/></a>
                <h1 class="minimal-caps font1 black add-top-quarter">We are Women of Code</h1>
                <h4 class="font1 black">We exist to make tech more inclusive and accessible for all women.</h4>
               
            </article>

      </div>
</div>
