<section ng-init="init()" style="background: url('../images/{{subAboutPage}}.jpg') no-repeat center center fixed; -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;" class="page-fold about-bg subtle fullheight">  
  <div class="valign">
    
  <div class="page-title container">
    <div class="row">
        <article class="text-center col-md-12">
          <h1 class="page-heading font4bold white"></h1>
          <h4 class="sub-heading-minor white font1">about::{{subAboutPage}}</h4>
        </article>
    </div>
  </div>

  </div>
</section>

<section class="page-section fullheight">
	<div ui-view></div>
</section>