<div ng-init="team()" section class="page-section team-bg parallax">
  <div class="container">

    <div class="row">

    <article class="col-md-10 col-md-offset-1">

      <div class="row">
          
          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://photos1.meetupstatic.com/photos/member/a/3/d/9/highres_243281945.jpeg"/>
                <h4 class="font4 color">Ellie Day</h4>
                <p>Women of Code Founder, coder, mentor and maker.</p>
            </div>
          </div>
          
          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://photos4.meetupstatic.com/photos/member/3/8/4/2/member_236114402.jpeg"/>
                <h4 class="font4 color">Akiko Turhan</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>

          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://placehold.it/548x600"/>
                <h4 class="font4 color">John Doe</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
     
      
        </div>
    </article>

        </div>


  </div>