<section ng-init="init()" class="page-fold about-bg subtle fullheight">  
  <div class="valign">
    
  <div class="container">
    <div class="row">
        <article class="text-center col-md-12">
          <h1 class="page-heading font4bold white"></h1>
          <h4 class="sub-heading-minor white font1">about</h4>
        </article>
    </div>
  </div>

  </div>
</section>



<section class="page-section white-bg">
  <div class="container">
    <div class="row">
        <article class="text-center col-md-10 col-md-offset-1">
            <a href="index.html"><img alt="" title="" src="images/woclogo-pink.png" height="80px" width="auto"/></a>
            <p class="minimal-caps font1 black add-top-quarter">We are Women of Code.</p>
        </article>
    </div>
    <div class="row">
        <article class="text-center col-md-10 col-md-offset-1">
            <div class="inner-spacer color-bg"></div>
            <p class="add-top-quarter font1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula malesuada, quis egestas mauris pretium. Donec ac laoreet erat. Donec ac metus non dolor feugiat fermentum. Aliquam et tempor dolor. Donec at orci libero. Morbi euismod dapibus elit, vitae faucibus nulla malesuada ac. Mauris sed felis enim. Quisque hendrerit, ipsum aliquet ultrices rhoncus, dui tellus lacinia massa, in dapibus urna mi ut mi. Donec aliquet sapien justo, id dignissim augue varius sit amet euismod dapibus elit, vitae faucibus nulla malesuada. </p>
            <h4 class="font1 dark add-top-quarter color">Don't forget to explore our portfolio</h4>
        </article>
    </div>
  </div>
</section>







<section class="process process-bg parallax">
  <div class="separator-section">
    
    <div class="container">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 text-center">
                  


                    <ul class="bxslider features-slider">
  
  
  <li>
      <div class="row">
        <article class="col-md-12 text-center">
          <h1 class="process-text white font1">Creating a design is like a story telling, both  should be meaningful.</h1>
        </article>
    </div>
  </li>

</ul>


    

<div id="bx-pager" class="features-slider-triggers font4bold">
  <a class="features-triggered" data-slide-index="0" href="">Product</a>
  <a data-slide-index="1" ui-sref="dev">Development</a>
  <a data-slide-index="2" href="">Education</a>
</div>


            </article>
        </div>

    </div>
  </div>
</section>





<section class="page-section white-bg">
  <div class="container">

    <div class="row">

    <article class="col-md-10 col-md-offset-1  service-icon-wrap">

      <div class="row">
          
          <div class="col-md-6 service-icon service-icon-bg-01 parallax">
            <i class="ion-ios7-bookmarks-outline color"></i>
            <h4 class="font4 black">Web Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>
          <div class="col-md-6 service-icon service-icon-bg-02 parallax">
            <i class="ion-ios7-analytics-outline color"></i>
            <h4 class="font4 black">Education</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 service-icon service-icon-bg-03 parallax">
            <i class="ion-ios7-alarm-outline color"></i>
            <h4 class="font4 black">Branding</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>
          <div class="col-md-6 service-icon service-icon-bg-04 parallax">
            <i class="ion-ios7-browsers-outline color"></i>
            <h4 class="font4 black">Logo Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 service-icon service-icon-bg-05 parallax">
            <i class="ion-ios7-cart-outline color"></i>
            <h4 class="font4 black">Ad Campaigns</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>
          <div class="col-md-6 service-icon service-icon-bg-06 parallax">
            <i class="ion-ios7-chatboxes-outline color"></i>
            <h4 class="font4 black">Interactive UI</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate arcu vitae ligula.</p>
          </div>

      </div>
      
    </article>

  </div>
  </div>
</section>






<section class="page-section team-bg parallax">
  <div class="container">

    <div class="row">

    <article class="col-md-10 col-md-offset-1">

      <div class="row">
          
          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://photos1.meetupstatic.com/photos/member/d/3/5/f/member_242934111.jpeg"/>
                <h4 class="font4 color">Ellie Day</h4>
                <p>Women of Code Founder, coder, mentor and maker.</p>
            </div>
          </div>
          
          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://photos4.meetupstatic.com/photos/member/3/8/4/2/member_236114402.jpeg"/>
                <h4 class="font4 color">Akiko Turhan</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>

          <div class="col-md-4 team-block">
            <div class="team-block-inner white-bg">
                <img alt="" title="" class="img-responsive" src="http://placehold.it/548x600"/>
                <h4 class="font4 color">John Doe</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
     
      
        </div>
    </article>

        </div>


  </div>