
<div  class="container">
  
          <div class="row add-top-half">
            <article class="text-center col-md-10 col-md-offset-1">
                <a href="index.html"><img alt="" title="" src="images/woclogo-pink.png" height="90px" width="auto"/></a>
                <p class="minimal-caps font4light black add-top-quarter">Portfolio</p>
            </article>
          </div>




<div id="works-container" class="works-container works-masonry-container white-bg container clearfix">


    <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom branding web">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x300"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Images</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-one-third info logos ui">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x600"/>
            <a href="single-project.html">
                <div class="works-item-inner valign">
                  <h3 class="dark">Project Info</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->


    <!-- start : works-item -->
    <div class="works-item works-item-two-third zoom graphics branding">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x300"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Gallery</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->

<!-- start : works-item -->
    <div class="works-item works-item-one-third info web ui">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x450"/>
            <a  class="venobox" data-type="vimeo" href="http://vimeo.com/75976293">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Video</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom branding ui">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x500"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Gallery</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->




    <!-- start : works-item -->
    <div class="works-item works-item-one-third info ui logos">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x600"/>
            <a href="single-project.html">
                <div class="works-item-inner valign">
                  <h3 class="dark">Project Info</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom logos graphics">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x450"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Images</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-two-third info graphics web">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x400"/>
            <a href="single-project.html">
                <div class="works-item-inner valign">
                  <h3 class="dark">Project Info</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->




     <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom logos branding">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x300"/>
            <a class="venobox" data-type="vimeo" href="http://vimeo.com/75976293">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Video</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-one-third info web ui">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x500"/>
            <a href="single-project.html">
                <div class="works-item-inner valign">
                  <h3 class="dark">Project Info</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->


     <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom web logos">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x700"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Gallery</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->



    <!-- start : works-item -->
    <div class="works-item works-item-one-third info graphics ui">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x300"/>
            <a href="single-project.html">
                <div class="works-item-inner valign">
                  <h3 class="dark">Project Info</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->

    <!-- start : works-item -->
    <div class="works-item works-item-one-third zoom logos branding">
            <img alt="" title="" class="img-responsive" src="http://placehold.it/400x200"/>
            <a  class="venobox" data-gall="portfolio-gallery" href="http://placehold.it/700x700">
                <div class="works-item-inner valign">
                  <h3 class="dark">Lightbox Images</h3>
                  <p class="dark"><span class="dark">Work Category</span></p>
                </div>
            </a>
    </div>
    <!-- end : works-item -->
        



  </div>
  <!-- end : works-container -->




</div>