<section class="page-section fullheight intro01-bg wallpaper">
      <div class="container">
          <div class="row">
            <article class="text-center col-md-10 col-md-offset-1">
                <a href="index.html"><img alt="" title="" class="home-logo" src="images/logo.png"/></a>
                <h1 class="minimal-caps font1 white add-top-quarter">We are Women of Code</h1>
                <h4 class="font1 white">We exist to make tech more inclusive and accessible for all women.</h4>
                <div class="btn-wrap">
                    <a class="btn btn-uber btn-uber-white" ui-sref="about">Learn More</a>
                </div>
            </article>
          </div>
      </div>
</section>